
{% extends "layout.html" %}

{% load static %}

{% block content %}

<section class="hero">
    <div hero-text>
        <h2>Awesome App for your financial.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corporis aliquam, saepe enim veniam incidunt omnis quod accusantium pariatur illum unde aspernatur nam, velit sunt placeat laudantium, quam odit tempore.</p>

        <button>Learn More</button>

    </div>
    <button>submit</button>
        <button></button>

    <div class="hero">
        <img src="{% static 'images/png_n.jpg' %}" alt="out-door service"/>
    </div>

</section>

{% endblock content%}

