{% extends "layout.html" %}

{% load static %}

{% block content %}

<h2>Welcome to Isaac!</h2>

<section class="city">

        <div class="check-box">
  <img src="{% static 'images/png_n.jpg' %}" alt="out-door service">
  <h2>Isaac Godson</h2>
  <p>Software Developer</p>

  <section>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Setting</a></li>
    <li><a href="#">Signout</a></li>
 </ul>
</section>










{% endblock content %}